<p>Hello,</p>

<p>You have been invited to join the organization <strong><%= @organization.name %></strong> by <%= @inviting_user.name || @inviting_user.email %>.</p>

<p>To accept the invitation, click the link below:</p>

<p><%= link_to 'Accept Invitation', "/invitation/accept?token=#{@invited_user.invitation_token}" %></p>

<p>If you have any questions, please contact the inviting user.</p>

<p>Best regards,<br>The Application Team</p>