<ul class="steps steps-horizontal w-full mb-8">
  <% wizard_steps.each_with_index do |wizard_step, index| %>
    <%
      is_current_step = (step == wizard_step)
      is_past_step = past_step?(wizard_step)
      step_class = "step"
      step_class += " step-primary" if is_current_step || is_past_step
    %>
    <li class="<%= step_class %>">
      <%= wizard_step.to_s.titleize %>
    </li>
  <% end %>
</ul>